<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hokkaidoec.mapper.AiGrowthMapper">

    <resultMap id="AiGrowthResultMap" type="com.example.hokkaidoec.entity.AiGrowth">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="growthStage" column="growth_stage"/>
        <result property="personality" column="personality"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="charaImageUrl" column="chara_image_url"/>
    </resultMap>

    <select id="findByUserId" parameterType="java.lang.Integer" resultMap="AiGrowthResultMap">
        SELECT
            id,
            user_id,
            name,
            growth_stage,
            personality,
            updated_at,
            chara_image_url
        FROM
            ai_growth
        WHERE
            user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.hokkaidoec.entity.AiGrowth"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ai_growth (
            user_id,
            name,
            growth_stage,
            personality,
            updated_at,
            chara_image_url
        ) VALUES (
            #{userId},
            #{name},
            #{growthStage},
            #{personality},
            CURRENT_TIMESTAMP,
            #{charaImageUrl}
        )
    </insert>

    <update id="update" parameterType="com.example.hokkaidoec.entity.AiGrowth">
        UPDATE
            ai_growth
        SET
            name = #{name},
            growth_stage = #{growthStage},
            personality = #{personality},
            updated_at = CURRENT_TIMESTAMP,
            chara_image_url = #{charaImageUrl}
        WHERE
            id = #{id}
    </update>

    <update id="updateGrowthStage">
        UPDATE
            ai_growth
        SET
            growth_stage = #{growthStage},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            user_id = #{userId}
    </update>
    <select id="findAiStatusByUserId" resultType="java.util.HashMap">
	SELECT
		u.rank_id AS "rankId",
		u.total_purchase_amount AS "totalPurchaseAmount",
		r.rank_name AS "rankName",
		next_rank.rank_name AS "nextRankName",
		next_rank.min_amount AS "nextRankMinAmount"
	FROM
		users u
		INNER JOIN ranks r
			ON r.id = u.rank_id
		LEFT JOIN ranks next_rank
			ON next_rank.min_amount = (
				SELECT
					MIN(r2.min_amount)
				FROM
					ranks r2
				WHERE
					r2.min_amount > u.total_purchase_amount
			)
	WHERE
		u.id = #{userId}
</select>

</mapper>